<!-- RIGHT -->
<div id="right">
	<br/>
	<%= link_to 'Create New Affiliate', {:action => 'new'}, :class => 'button hundredfifty' %>
	<div class="clear">&nbsp;</div>
	
</div>
<div class="clear">&nbsp;</div>
